.match-settings-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 83vh;
  justify-content: center;
}

.match-settings-form {
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Espaçamento melhorado */
  width: 865px;
  padding: 20px; /* Padding interno */
}

.match-settings-form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.match-settings-form-options {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Largura total para alinhamento */
}

.match-settings-form-options label p {
  font-family: 'Roboto', sans-serif;
  color: #29313d;
  margin: 10px 0;
}

.match-settings-form-options label select,
.match-settings-form-options label input {
  border: 1px solid #c5c9ce;
  border-radius: 8px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.match-settings-form-buttons button {
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  padding: 10px 20px;
  transition: background-color 0.2s, color 0.2s;
}

.match-settings-form-buttons button:disabled {
  opacity: 0.5; /* Visual de desabilitado */
  cursor: not-allowed;
}

.match-settings-form-buttons button:nth-child(1) {
  background: white;
  color: var(--primary-color);
}

.match-settings-form-buttons button:nth-child(2) {
  background: var(--primary-color);
  color: white;
}

.match-settings-form-buttons button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.match-settings-form-versus span {
  font-weight: 700;
  align-self: center;
}
