.common-header {
  align-items: center;
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 25px 60px; /* Espaçamento aumentado */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.image-content {
  display: flex;
  align-items: center;
  margin-right: 15px; /* Margem à direita adicionada */
}

.image-content img {
  height: 83px;
  width: 130px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para a imagem */
}

.common-header h1 {
  color: white;
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 36px;
  margin: 0 10px; /* Margem adicionada */
}

.common-header a {
  background: rgb(3, 27, 49);
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 15px;
  margin-right: 10px;
  transition: background-color 0.3s, transform 0.2s ease;
}

.common-header a:hover {
  background: #08241e;
  transform: translateY(-2px);
}

.buttons-content {
  display: flex;
  align-items: center;
  margin: 5px 0; /* Margem vertical adicionada */
}

.buttons-content button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-left: 15px; /* Aumento da margem à esquerda */
  transition: color 0.3s;
}

.buttons-content button:hover {
  color: #ccc;
}

.common-header div button img {
  height: 24px;
  margin-left: 5px;
  width: 24px;
}
